/*extend*/

%base-estilos {
  text-decoration: none;
  margin: 10px;
}

/*header*/

 .encabezado {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  box-shadow: 0px 2px 4px $color-marron;

  h1 {
    @extend %base-estilos;
    color: $color-naranja;
    text-transform: uppercase;
    font-weight: 700px;
    text-shadow: 1px 1px 2px $color-marron;
    font-size: $tamaño-encabezado;
  }

  li {
    list-style-type: none;
    display: inline-block;

    a {
      @extend %base-estilos;
      color: r$color-marronclaro;
      font-size: $tamaño-h4;

      &:hover {
        color: $color-marronclaro;
      }
    }
  }
}
