/*mixins*/
@mixin estilos-comunes {
  text-align: center;
  margin: 10vh;
}

/*pasteleros*/
.pasteleros {
  @include estilos-comunes;
  box-shadow: 0px 2px 4px $color-marron;

  h3 {
    color: $color-naranja;
    text-transform: uppercase;
    font-size: $tamaño-h3;
  }

  p {
    font-size: $tamaño-h4;
    color: $color-marronclaro;
    padding: 10px;
  }
}

.contenedorPasteleros {
  @include estilos-comunes;
  display: flex;
}
