/*mixins*/
@mixin estilo-comun {
  text-align: center;
  box-shadow: 0px 2px 4px $color-marron;
}

@mixin estilos-titulos {
  color: $color-naranja;
  text-transform: uppercase;
  font-size: $tamaño-h3;
}

@mixin estilos-parrafos {
  font-size: $tamaño-h4;
  color: $color-marronclaro;
  padding: 10px;
}

/*productos*/

.productos {
  @include estilo-comun;
  margin: 10vh;

  h3 {
    @include estilos-titulos;
  }

  p {
    @include estilos-parrafos;
  }
}

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.productos {
  border: 1px solid $color-beige;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.tarjetas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-blanco;
  border: 1px solid $color-marron;
  padding: 20px;
  margin: 10px;
  @include estilo-comun;

  img {
    max-width: 100%;
  }

  p {
    @include estilos-parrafos;
    color: $color-naranjaclaro;
  }

  button {
    background-color: $color-blanco;
    color: $color-naranja;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 2px 4px $color-marron;

    &:hover {
      background-color: $color-beige;
    }
  }
}
