/*variale de color*/
$color-blanco: rgb(250, 250, 250);
$color-naranja: rgb(250, 174, 74);
$color-marron: rgb(222, 184, 135);
$color-beige:  rgb(245, 245, 220);
$color-marronclaro: rgb(240, 187, 122);
$color-negro: rgb(0, 0, 0);
$color-naranjaclaro: rgb(216, 157, 85);

/*variable de tamaño*/
$tamaño-encabezado:2.5rem;
$tamaño-h4: 1.5rem;
$tamaño-h3: 2rem;
$tamaño-responsive: 1rem;
$tamaño-p:1.2rem;